<div class="container-fluid ">
    <div class="row">
        <div class="col-12 text-center title">
            <h1 class="">O Arcano</h1>
            <p>Eu combato o fogo com <strong>fogo mágico</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form class="form">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="form-group d-flex justify-content-center">
                            <input type="text" class="form-control w-50 text-center form__input form__input--name" placeholder="Escolha um nome">        
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">
                                <div class="form-group d-flex flex-column align-items-center">
                                    <label class="form__label">BRAVEZA</label>
                                    <input type="text" class="form-control form__input form__input--ball">
                                    <small>Partir pra porrada</small>
                                    <small>Proteger alguém</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-group d-flex flex-column align-items-center">
                                    <label class="form__label">ESPERTEZA</label>
                                    <input type="text" class="form-control form__input form__input--ball">
                                    <small>Investigar um mistério</small>
                                    <small>Perceber uma enrascada</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-group d-flex flex-column align-items-center">
                                    <label class="form__label">ESTRANHEZA</label>
                                    <input type="text" class="form-control form__input form__input--ball">
                                    <small>Usar magia</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-group d-flex flex-column align-items-center">
                                    <label class="form__label">FIRMEZA</label>
                                    <input type="text" class="form-control form__input form__input--ball">
                                    <small>Agir sob pressão</small>
                                    <small>Dar uma mão</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-group d-flex flex-column align-items-center">
                                    <label class="form__label">SUTILEZA</label>
                                    <input type="text" class="form-control form__input form__input--ball">
                                    <small>Manipular alguém</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-12 col-lg-6 d-flex flex-column align-items-center">
                        <h2>Sorte</h2>
                        <p class="text-center">Marque uma caixa de Sorte para alterar uma rolagem para 12 ou evitar todo o dano de um ferimento.</p>
                        <div>
                            <span class="mr-2">Salvo</span>
                            <mat-slider thumbLabel tickInterval="1" min="0" max="6"></mat-slider>                        
                            <span class="ml-2">Condenado</span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 d-flex flex-column align-items-center">
                        <h2>Dano</h2>
                        <p class="text-center">Marque uma caixa de Dano. Quando você chegar em 4 ou mais, marque "Instável".</p>
                        <div>
                            <span class="mr-2">Ileso</span>
                            <mat-slider thumbLabel tickInterval="1" min="0" max="6"></mat-slider>
                            <span class="ml-2">Morrendo</span>
                        </div>
                    </div>
                </div> 
                
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center">CRIAÇÃO DO CAÇADOR</h2>
                        <p class="text-center">Para criar seu caçador Arcano, primeiro escolha e escreva um nome na primeira linha da folha. Então siga as instruções para decidir sua aparência, classificações, magia combativa, movimentos e equipamentos. Finalmente, se apresente e escolha o histórico.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <mat-vertical-stepper [linear]="isLinear" #stepper>
                            <mat-step [stepControl]="firstFormGroup">
                                <form [formGroup]="firstFormGroup">
                                    <ng-template matStepLabel>Aparência</ng-template>
                                    <div class="form-group">
                                        <label>Gênero</label>
                                        <select class="form-control">
                                            <option>Homem</option>
                                            <option>Mulher</option>
                                            <option>Androgeno</option>
                                        </select>                                
                                    </div>
                                    <div class="form-group">
                                        <label>Olhos</label>
                                        <select class="form-control">
                                            <option>Olhos sombrios</option>
                                            <option>Olhos ferozes</option>
                                            <option>Olhos cansados</option>
                                            <option>Olhos faiscantes</option>
                                        </select>                                
                                    </div>
                                    <div class="form-group">
                                        <label>Roupas</label>
                                        <select class="form-control">
                                            <option>Roupas amarrotadas</option>
                                            <option>Roupas estilosas</option>
                                            <option>Roupas góticas</option>
                                            <option>Roupas antiquadas</option>
                                        </select>                                
                                    </div>
                                    
                                    <div>
                                        <button class="btn btn-success float-right" mat-button matStepperNext>Próximo</button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="secondFormGroup">
                                <form [formGroup]="secondFormGroup" class="d-flex flex-column">
                                    <ng-template matStepLabel>Classificações</ng-template>
                                    <div class="form-check-inline">
                                        <input type="radio" class="form-check-input">
                                        <label class="form-check-label">Braveza ±0, Esperteza +1, Estranheza +2, Firmeza +1, Sutileza −1</label>                                        
                                    </div>
                                    <div class="form-check-inline">
                                        <input type="radio" class="form-check-input">
                                        <label class="form-check-label">Braveza +1, Esperteza +1, Estranheza +2, Firmeza −1, Sutileza ±0</label>                                        
                                    </div>
                                    <div class="form-check-inline">
                                        <input type="radio" class="form-check-input">
                                        <label class="form-check-label">Braveza −1, Esperteza +2, Estranheza +2, Firmeza ±0, Sutileza −1</label>                                        
                                    </div>
                                    <div class="form-check-inline">
                                        <input type="radio" class="form-check-input">
                                        <label class="form-check-label">Braveza −1, Esperteza +1, Estranheza +2, Firmeza ±0, Sutileza +1</label>                                        
                                    </div>
                                    <div class="form-check-inline">
                                        <input type="radio" class="form-check-input">
                                        <label class="form-check-label">Braveza ±0, Esperteza +1, Estranheza +2, Firmeza ±0, Sutileza ±0</label>                                        
                                    </div>                                   
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-primary mr-2" mat-button matStepperPrevious>Voltar</button>
                                        <button class="btn btn-success" mat-button matStepperNext>Próximo</button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step>
                                <ng-template matStepLabel>Apresentações</ng-template>
                                <p>Quando você chegar aqui, espere que todos também cheguem para que vocês se apresentem juntos. Na sua vez descreva seu caçador e diga ao grupo o que eles sabem sobre você.</p>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-primary mr-2" mat-button matStepperPrevious>Voltar</button>
                                    <button class="btn btn-success" mat-button matStepperNext>Próximo</button>
                                </div>
                            </mat-step>
                            <mat-step>
                                <ng-template matStepLabel>Histórico</ng-template>
                                <p>Na sua vez escolha um destes para cada um dos caçadores:</p>
                                <ul>
                                    <li>Ele age como sua consciência quando você sente o poder subir à cabeça. Pergunte a ele sobre a última vez que isto aconteceu.</li>
                                    <li>Parentes de sangue, embora vocês não tenham tido contato por vários anos. Pergunte a ele como vocês se reconectaram.</li>
                                    <li>Mentor de uma outra vida. Pergunte a ele o que ele te ensinou.</li>
                                    <li>Quando você o resgatou exibindo sua magia, você o introduziu ao sobrenatural. Diga a ele que criatura estava atrás dele.</li>
                                    <li>Uma velha rivalidade que se tornou uma forte amizade. Diga a ele o que vocês disputavam.</li>
                                    <li>Você pensou que ele estava morto, e agora ele está de volta. O que o “matou”?</li>
                                    <li>Ele é um interesse amoroso que vai e volta. Pergunte a ele o que mantém vocês separados. Diga a ele o que mantém vocês juntos.</li>
                                    <li>Um companheiro luta. Vocês enfrentaram as maiores ameaças juntos.</li>
                                </ul>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-primary mr-2" mat-button matStepperPrevious>Voltar</button>
                                    <button class="btn btn-success" mat-button matStepperNext>Próximo</button>
                                </div>
                            </mat-step>
                            <mat-step>
                                <ng-template matStepLabel>Subindo de Nível</ng-template>
                                <p>Sempre que sua rolagem for 6 ou menos, ou quando um movimento determinar, marque uma caixa de experiência. Quando você tiver preenchido todas as cinco caixas de experiência, você sobe de nível. Apague todas as caixas e escolha uma melhoria da seguinte lista:</p>
                                <mat-slider thumbLabel tickInterval="1" min="0" max="6"></mat-slider>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-primary mr-2" mat-button matStepperPrevious>Voltar</button>
                                    <button class="btn btn-success" mat-button matStepperNext>Próximo</button>
                                </div>
                            </mat-step>
                            <mat-step>
                                <div class="d-flex flex-column">                                
                                    <ng-template matStepLabel>Melhorias</ng-template>
                                    <p>Depois de você subir de nível cinco vezes, você já pode ter melhorias avançadas além destas</p>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Receba +1 em Estranheza (máximo +3).
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Receba +1 em Firmeza (máximo +2).
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Receba +1 em Esperteza (máximo +2).
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Receba +1 em Braveza (máximo +2).
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Pegue outro movimento de Arcano.
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Pegue outro movimento de Arcano.
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Pegue um movimento de outra cartilha.
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Pegue um movimento de outra cartilha.
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Pegue outra escolha de Magia Combativa.
                                        </label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-primary mr-2" mat-button matStepperPrevious>Voltar</button>
                                    <button class="btn btn-success" mat-button matStepperNext>Próximo</button>
                                </div>
                            </mat-step>
                            <mat-step>
                                <div class="d-flex flex-column">
                                    <ng-template matStepLabel>Melhorias</ng-template>
                                    <p>Depois de você subir de nível cinco vezes, você já pode ter melhorias avançadas além destas</p>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Receba +1 em Estranheza (máximo +3).
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Receba +1 em Firmeza (máximo +2).
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Receba +1 em Esperteza (máximo +2).
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Receba +1 em Braveza (máximo +2).
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Pegue outro movimento de Arcano.
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Pegue outro movimento de Arcano.
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Pegue um movimento de outra cartilha.
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Pegue um movimento de outra cartilha.
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Pegue outra escolha de Magia Combativa.
                                        </label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-primary mr-2" mat-button matStepperPrevious>Voltar</button>
                                    <button class="btn btn-success" mat-button (click)="stepper.reset()">Reset</button>
                                </div>
                            </mat-step>
                        </mat-vertical-stepper>
                    </div>
                </div>

        
            </form>

        </div>
    </div>
</div>

