// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming'; 
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$projeto-primary: mat-palette($mat-indigo);
$projeto-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$projeto-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$projeto-theme: mat-light-theme((
  color: (
    primary: $projeto-primary,
    accent: $projeto-accent,
    warn: $projeto-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($projeto-theme);







/* CSS BASE */
.list-group-item {
    background: none;
    border: none;
}

body {
    background-image: url(assets/img/bg.jpg);
    // width: 100vw;
    // height: 100vh;
}
.title {
    color: #fff92d;
}
.title h1 {
    text-transform: uppercase;
    margin: 0;
}
.form {
    // background: #ffffff94;
    background: #ffffffdb;
    padding: 1rem;
    border-radius: 10px;
}
.form__input {
    background: none;
    border: none;
    border-bottom: 1px solid;
    color: #000;
    border-radius: 0;
    // font-weight: 600;
}
.form__input:focus {
    background: none;
    border-color: #9b9606;
    box-shadow: none;
}
.form__input--name {
    height: calc(2.5em + .75rem + 2px);
    text-transform: uppercase;
}
.form__label {
    font-weight: 600;
}
.form__input--ball {
    padding: .5rem;
    width: 34%;
    height: calc(3em + .75rem + 2px);
    border-radius: 50%;
    border: 1px solid #9b9606;
    background: #fff;
}

mat-slider {
  width: 50%;
}
// .mat-slider-thumb-label {
//     width: auto !important;
//     height: auto !important;
// }
.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label {
    background: #9b9606;
}
.mat-accent .mat-slider-thumb-label-text {
    color: #000;
}
.mat-stepper-vertical {
    background-color: #c3c3c3;
    border-radius: 10px;
}
.mat-form-field {
  margin-top: 16px;
}
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: #9b9606;
}

@media (max-width: 992px) {
    .form__input--name {
        width: 100% !important;
    }
    .list-group-horizontal {
        flex-direction: column;
    }
}